extends ../templates/base

include ../templates/mixins

block variables
	- var classBody = 'bio-page';
	- var classWrapper = 'bio';
	- var page = "bio"; 
	- var pageName = 'Биография';

block title
	title #{pageName}

block header
	include ../modules/header
	+header()

block main
	+breadcrumb()
	.bio-top
		.bio-top__banner(style="background-image: url(" + require('../../components/images/background-2.jpg') + ")")
			.bio-top__banner-text.container
				div
					h4 добро пожаловать
					h1
						| Я Владимир Карафетов.
						br
						| Музыкант.Шоумен.
						br
						| Родом из Украины, Харьков
					ul.clearfix
						li
							span Слушать мои
							a(href="albums.html") Альбомы
						li
							span Смотреть
							a(href="news.html") Новости
						li
							span связаться через
							a(href="mailto:show.karafetov@gmail.com") E-mail
				a(href="#bio").bio-top__banner-down
	section.bio.container#bio
		h2 Биография
		.bio__nav
			ul.nav.nav-tabs
				li.active
					a(href="#bio-one", data-toggle="tab") 1970
				li
					a(href="#bio-two", data-toggle="tab") 1998
				li
					a(href="#bio-three", data-toggle="tab") 2000
				li
					a(href="#bio-four", data-toggle="tab") 2005
				li
					a(href="#bio-five", data-toggle="tab") 2012
				li
					a(href="#bio-six", data-toggle="tab") 2018
		.bio__content
			.tab-content
				#bio-one.tab-pane.fade.in.active
					mixin tab()
						.bio__box
							ul.row
								li.bio__box-left.col-sm-4
									.bio__box-img(style="background-image: url(" + require('../../components/images/photo-1.jpg') + ")")
								li.bio__box-right.col-sm-8
									.bio__box-text
										h3 1970
										span 1 сен. 1970 г.
										p.scrollbar-inner
											| Равным образом сложившаяся структура организации представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Таким образом консультация с широким активом представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки новых предложений. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
							ul.row
								li.bio__box-left.col-sm-4
									.bio__box-text
										span 1 сен. 1970 г.
										p.scrollbar-inner
											| Равным образом сложившаяся структура организации представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Таким образом консультация с широким активом представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки новых предложений. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
								li.bio__box-right.col-sm-8
									.bio__box-img(style="background-image: url(" + require('../../components/images/photo-2.jpg') + ")")
							.borders
								span.borders__left
								span.borders__right
						.bio__box
							ul.row
								li.bio__box-left.col-sm-8
									.bio__box-text
										h3 1980
										span 1 сен. 1980 г.
										p.scrollbar-inner
											| Равным образом сложившаяся структура организации представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Таким образом консультация с широким активом представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки новых предложений. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
								li.bio__box-right.col-sm-4
									.bio__box-img(style="background-image: url(" + require('../../components/images/photo-3.jpg') + ")")
							ul.row
								li.bio__box-left.col-sm-8
									.bio__box-img(style="background-image: url(" + require('../../components/images/photo-4.jpg') + ")")
								li.bio__box-right.col-sm-4
									.bio__box-text
										span 1 сен. 1970 г.
										p.scrollbar-inner
											| Равным образом сложившаяся структура организации представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Таким образом консультация с широким активом представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки новых предложений. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
							.borders
								span.borders__left
								span.borders__right
					+tab()
				#bio-two.tab-pane.fade
					+tab()
				#bio-three.tab-pane.fade
					+tab()
				#bio-four.tab-pane.fade
					+tab()
				#bio-five.tab-pane.fade
					+tab()
				#bio-six.tab-pane.fade
					+tab()